body{
    background-color: pink;
    
}


.bottom-border{
    border: 1px solid #E91E63;
}






/* dizajnimi i seksionit intro*/

.intro{
    display: flex; 
    justify-content: center;
    align-items: center;
    position:relative;
    background-image: url("images/thumbnail_22738.jpg");
    min-height: 1000px;
    min-width: 1000px;
    padding-top: 100px;

}

.content{
    margin: -175px 0 0 0;

}


.content-txt h3{
    color: white;
    padding-left: 50px;
    font-family: 'montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;




}

/*disajnimi i h3 te intros*/



.gallery-header h3{
      color: white;
      font-family: 'Montserrat', sans-serif;
      text-align:center;
      font-size: 35px;
      font-weight:bold;
      

}

.gallery-header p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.button-1div{

       margin-top: 40px;
    

}


.btn-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e91e63;
    border: 1px solid #e91e63;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 10px black;
    border-radius: 15px;

}
.btn-intro:hover{
    background-color: gray;
    background: linear-gradient(to bottom, gray 5%, black 100%)


}


 /* DIZAJNIMI I NAVIT */

 .about-btn-tabel button{
    margin-left: 870px;
    margin-bottom: 50px;
    background-color: #e91e63;
    border: 1px solid #e91e63;
    width: 160px;
    height: 60px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 10px black;
    border-radius: 15px;
  }

  .about-btn-tabel :hover{
    background-color: gray;
    background: linear-gradient(to bottom, gray 5%, black 100%)


  }

    .city {
    width: 300px;

  }

   .budget h3{
      margin-left: 30px;
      margin-right: 40px;
      margin-top: 10px;


    
  }


  .tab-text{
      color:#E91E63;
      font-weight:bold;
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
  }

  .row-nav{
      height: 60px;
  }


  .logo{
      font-size: 30px;
      text-align: end;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      padding-top: 10px;
      text-shadow: #E91E63 1px 1px;


  }

  span{
    color: #E91E63;
    text-shadow: #000000 1px 1px;
  }


  .nav-tabs-1{
      color: #E91E63;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      padding-top:20px;

  }

  .header-area{
      background-color: rgb(236, 229, 229);
      position: sticky;
      width: 100%;

  }

  



/* EVENTS */

.package-events{
    
    padding: 120px 0 90px ;
}

.package-events h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight:bold;



}

.events-content{

    margin-top: 65px;

}

.singel-events-items {
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.card p{
    color: black;
    font-size: 17px;
    font-family: 'montserrat' sans-serif;

}

.card-title{
    font-weight: bold;
    margin-left: 25px;
}

/* disajnimi i team*/

.team{
    position: relative;
    padding: 120px 0;
    background: grey;


}


.carousel-item{
    padding-left: 270px;

}


.gallery-header p{
    text-align: center;
    color: white;
    
}


.package-events{
    box-shadow: 0 4px 10px black;


}

/* CONTACT US*/

.contact-section{
    background-image: url('images/Untitled2.jpg');
    max-width:1600px;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    

    
}

.form-style{
    max-width: 450px;
    padding: 30px;
    margin: 50px;
   
   

}

/* DISAJNIMI I LI*/

.form-style ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style ul li .field-style{
    box-sizing: border-box;
    padding: 8px;
    outline: none;  
}

.form-style ul li .field-split{
    width:  50%; 
}

.form-style ul li .field-full{
    width: 100%;
}


.form-style ul li input.align-left{
    float: left;
}

.form-style ul li input.align-right{
    float: right;
}


.form-style ul li textarea{
    width: 100%;
    height: 100px;

}

.form-style ul li input[type="submit"]{
    
    background: #e91e63; 
    border: 1px solid #e91e63;
    box-shadow: 0 2px 8px black;
    border-radius: 8px;
    display: inline-block;
    color: white;
    padding: 8px 18px;
    font-family: 'Montserrat', sans-serif;

}

.form-style ul li input[type="submit"]:hover{
     background-color: gray;
     background: linear-gradient(to bottom, gray 5%, black 100%);
}




/* dizajni per range slide budget*/
input[type=range] {
    height: 33px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #CCC8E9;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 27px;
    width: 40px;
    border-radius: 24px;
    background: #E91E63;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #CCC8E9;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #CCC8E9;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 27px;
    width: 40px;
    border-radius: 24px;
    background: #E91E63;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #CCC8E9;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #CCC8E9;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 27px;
    width: 40px;
    border-radius: 24px;
    background: #E91E63;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #CCC8E9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #CCC8E9;
  }


  .container-table {
      border: grey 2px solid;
      box-shadow: 0 4px 10px grey;
      background: white;

  }


  .tabpanel h2,h3{
      color: black;
      font-size: 20px;
      font-family: 'montserrat', sans-serif;
      margin-bottom: 17px;


  }

  .singel-tabs-select-box{
      padding: 30px 20px;
      margin-bottom: 17px;

  }

 